################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAPI/bin
/WebAPI/obj
/WebAPI/.vs
/.vs
