################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAPI/bin
/WebAPI/obj
/WebAPI/.vs
/WebAPI/WebAPI.csproj.user
/.vs
/WebAPI/Properties/PublishProfiles
